html
  head
    title Register
  body
    form
      label(for='fname') Name:
      br
      br
      input#fname(type='text', name='name', value='john')
      br
      br
      label(for='lname') Email:
      br
      br
      input#lname(type='email', name='email', value='alishahzad@gmail.com')
      br
      br
      label(for='lname') Mobile No:
      br
      br
      input#lname(type='number', name='mobile', value='03002634794')
      br
      br
      label(for='lname') Password:
      br
      br
      input#lname(type='text', name='password')
      br
      br
      input(type='submit', value='Register')